.ucf-events-classic {
  .ucf-events-list {
    margin: 1.5em 0;
  }

  .ucf-events-subheadings {
    text-align: center;
  }

  .ucf-event-row {
    display: table-row;
  }

  .ucf-event-col {
    display: table-cell;
    vertical-align: top;
  }

  .ucf-event {
    font-size: .9em;
  }

  .ucf-event-when {
    min-width: 4em;
    padding: .5em .5em .5em 0;
  }

  .ucf-event-start-date,
  .ucf-event-start-time {
    display: block;
  }

  .ucf-event-content {
    padding: .5em 0 .5em .5em;
  }

  .ucf-event-title,
  .ucf-event-location {
    display: block;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  .ucf-event-location {
    font-size: .8em;
    text-transform: uppercase;
  }
}
