.ucf-events-modern,
.ucf-events-modern-nodesc {

  .ucf-event-row-margin {
    margin-bottom: 1.7rem;
  }

  .ucf-event-when {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .ucf-event-title-wrapper {
    margin-bottom: .4rem;
  }

  .ucf-event-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .ucf-event-description-wrapper {
    font-size: .9rem;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ucf-events-error {
    font-weight: 700;
  }
}
