.ucf-events-classic {
  .events {
    margin: 1.5em 0;
  }

  .events-subheadings {
    text-align: center;
  }

  .event-row {
    display: table-row;
  }

  .event-col {
    display: table-cell;
    vertical-align: top;
  }

  .event {
    font-size: .9em;
  }

  .event-when {
    min-width: 4em;
    padding: .5em .75em .5em 0;
  }

  .event-start-date,
  .event-start-time {
    display: block;
  }

  .event-content {
    padding: .5em 0 .5em .75em;
  }

  .event-title,
  .event-location {
    display: block;
  }

  .event-location {
    font-size: .8em;
    text-transform: uppercase;
  }
}
